* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html, main{
    background-color:#6dad52;
}
body {
    background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* IE10+ */

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -ms-text-size-adjust: none;
    /*background-color:#E4E4E4;*/
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    color: white;
    margin:0;
    padding:0;
    /* KOMMER DEN HÄR KOMMENTAREN ÖVER NU??? */
    /*text-transform:uppercase;*/
    width:100%;
    background-color: #6dad52;
}



header {
    background-color: #578b41;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin:auto;
    padding: 20px 0;
    background-color: #7cb663;
}

.content {
    padding: 10px 0;
    background-color: #8abe74;
}

ul {
    margin: auto;
}

.title {
    display: inline;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin-left: 20px;
}

.logo {
    width: 40px;
    margin: auto;
}

p {
    font-size: 2em;
    margin: 0;
}

li {
    font-size: 2em;
}

.comment {
    width: 100%;
    margin-top: 5px;
    padding: 10px 0;
    display: inline-block;
    background-color: #8abe74;

}

.commentPar {
    padding-left: 20px;
    font-size: 1.5em;
    margin: 0;
    float: left;
    width: 75%;
}

.voting {
    float: right;
    width: 20%;
    text-align:center;
}

.left {
    padding-left: 20px;
}
.vote {
    font-size: 2em;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #8abe74;
    border: none;
}

.rank {
    font-size: 1em;
    text-align:center;
}

.commentText {
    font-size: 1.5em;
    color: white;
}

.old {
    font-size: 1em;
}

.bad {
    background-color: #be8774;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
}

.alert {
    font-size: 1em;
    color: white;
    font-style: italic;
}

.today {
    font-weight: bold;
    color: black;
}

.commentCountry {
    font-size: 0.8em;
}

.input {
    padding-left: 20px;
    color: white;
    background-color: #8abe74;
    border: none;
    font-size: 1.5em;
    width: 100%;
    height: 30px;
}

.input:focus {
    border: none;
}

.input::placeholder{
    color: white;
}

.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.input::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.input:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.input:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.about {
    width: 100%;
}

.aboutText {
    margin-right: 20px;
}

.inputBox {
    float: left;
    width:80%;
}

.buttonBox {
    width: 20%;
    float: right;
    text-align: center;
}

.button {
    border: none;
    background-color: #8abe74;
    font-size: 2em;
    color: white;
    width: 100%;
}

nav {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;
    float: right;
    overflow: hidden;
    height: 30px;
}


/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0 0 0;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0 0 -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0 0 -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

div {
    width: 100%;
}

.container {
    background-color: #6dad52;
}

.comments {
    width: 100%;
    display: inline-block;
}

.pressed {
    color: gray;
}

/* Media queries for .box */
@media (min-width: 768px) {
    .description {
        flex: 0 0 48.0%;
    }
}

/* loading screen */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  /*text-indent: -99999em;*/
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #6dad52;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  -moz-transform-origin: 5.2em 5.1em;
  -ms-transform-origin: 5.2em 5.1em;
  -o-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  -moz-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #6dad52;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0 5.1em;
  -moz-transform-origin: 0 5.1em;
  -ms-transform-origin: 0 5.1em;
  -o-transform-origin: 0 5.1em;
  transform-origin: 0 5.1em;
  -webkit-animation: load2 2s infinite ease;
  -moz-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
    -moz-animation: fade 3000ms infinite;
}
